node_modules/
/test-results/
/playwright-report
/playwright/.cache
/playwright/.auth
/playwright-summary

.env
*.err
*.log

bin

# Browserstack local
.obs*
browserstackSetupConfig.json
playwright-browserstack-sdk.config*
performance-report.json
log/

.DS_Store