node_modules/
/test-results/
/playwright-report
/playwright/.cache
/playwright/.auth

# json reporter summary
/ctrf
/playwright-summary
*-summary.json

.env
*.err
*.log

# Browserstack related
.obs_*
*-browserstack-sdk.*
performance-report.json
browserstackSetupConfig.json
